

 .benefits {
    padding-top: 60px;
    padding-bottom: 60px;
    @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
    }

 &__title {
     @include visually-hidden;   
    }   

 &__list {
     display: flex;
    flex-wrap: wrap;
     gap: 30px;
    @include desktop {
     flex-wrap: nowrap;
     }
    }
        
 &__item {
     width: 100%;
     margin-bottom: 30px;
    @media screen and (min-width: 768px) {
     width: calc((100% - 30px) / 2);     
     }
        }
    
&__box {
    display: flex;
    justify-content: center;
    background-color: var(--color-darkwhite);
    border-radius: 4px;
    padding: 25px 100px;
    margin-bottom: 30px;
}
&__subtitle {
    margin-bottom: 10px;
    text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  @include tablet {
    text-align: left;
}
}

&__text {
   color:var(--color-secondary);
   font-size: 14px;
   line-height: 1.71; 
   letter-spacing: 0.03em;
}
}

