.benefits__container {
    display: flex;
        }

 .benefits-section {
    padding-top: 94px;
    padding-bottom: 94px;
        }
 .benefits__title {
         @include visually-hidden;   
        }
 .benefits__element {
        width: 270px; 
    }
 .benefits__element:not(:first-child)
    {
    margin-left: 30px; 
}
 .benefits__element:last-child {
     margin-bottom: 0;
    }
.benefits__box {
    display: flex;
    justify-content: center;
    background-color: var(--color-darkwhite);
    border-radius: 4px;
    padding: 25px 100px;
    margin-bottom: 30px;
}
.benefits__subtitle {
    margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.benefits__text {
   color:var(--color-secondary);
   font-size: 14px;
   line-height: 1.71; 
   letter-spacing: 0.03em;
}