
.contacts {
    display: none;
    margin-left: auto;

        @include tablet {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        @include desktop {
            display: flex;
            flex-direction: row;
        }

        &__link {
        display: flex;
        align-items: center;
        color: (--color-primary);
        }

        &__icon--mail {
            fill: currentColor;
            @include tablet {
                width: 14px;
                height: 10px;
                margin-right: 8px;
            } 
            @include desktop {
                width: 16px;
                height: 12px;
                margin-right: 10px;
            }
        }
        &__icon--phone {
            fill: currentColor;
            @include tablet {
                width: 10px;
                height: 14px;
                margin-right: 8px;
            }
            @include desktop {
                width: 10px;
                height: 16px;
                margin-right: 10px;
            }
        }
    }

    .contacts .link {
    color: var(--color-secondary);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus,
        &:active {
        color: var(--color-accent);
        }

        @include tablet {
            font-weight: 500;
            font-size: 12px;
            line-height: 1.1666;
            letter-spacing: 0.02em;
        }
        @include desktop {
            font-weight: 500;
            font-size: 14px;
            line-height: 1.1428;
            letter-spacing: 0.02em;
                    }

    }

    .phone {
    margin-left: 30px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-left: 0;
    }
    
    }
