.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color:var(--color-darkblue);

  @include desktop {
      padding-top: 200px;
      padding-bottom: 280px;
  }

  &__container {
    width: 100%;
    @include mobile {
        min-width: 480px;
    }
    @include desktop {
        max-width: 698px;
    }
  }
    &__title {
      width: 100%;  
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    
   color: var(--color-white);
   text-transform: uppercase;
   text-align: center;
   font-weight: 900;
   font-size: 26px;
   line-height: 1.65;
   letter-spacing: 0.06em;
   @include mobile {
    width: 360px;
}
@include desktop {
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3636;
}
}


&__overlay {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero-bg-mob.jpg');
      @include retina {
          background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero-bg-mob@2x.jpg');
      }
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
      
      @include tablet {
          background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero-bg-tab.jpg');
          @include retina {
              background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero-bg-tab@2x.jpg');
          }
      }  
      
      @include desktop {
          max-width: 1600px;
          background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero-bg-desk.jpg');
          @include retina {
              background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero-bg-desk@2x.jpg');
          }
      }
          
          }
  }
  
  


