.work-section {
    padding-top: 0;
    padding-bottom: 94px;
}
.work-section__title {
   margin-bottom: 50px;
   font-weight: 700;
   font-size: 36px;
   line-height: 1.17;
   text-align: center;
   letter-spacing: 0.03em;
}
.work {
    display: flex;
    gap: 30px;

&__element {
   position: relative; 
    }
&__box {
   position: absolute;
    bottom: 0;
    left:0;
    width: 100%; 
    height: 70px;
  background-color: rgba(47, 48, 58, 0.8); 
}
&__text {
    padding: 27px 0;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-white);
}
}