:root {
    --color-primary:#212121;
    --color-secondary:#757575;
    --color-accent:#2196F3;
    --color-white:#FFFFFF;
    --color-black:#000000;
    --color-blue:#188CE8;
    --color-darkblue:#2F303A;
    --color-darkwhite:#F5F4FA;
    --color-transparent-white:rgba(255, 255, 255, 0.6);
    --color-gray:#AFB1B8;
    --color-darkgray: rgba(255, 255, 255, 0.1);
    }